:root{
    --bg-button: #f0f0f0;
    --boder-button: solid 1px #888;
}

.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: solid 0.5rem #0004;   
    outline: none;
}
.button:active{
    background-color: #ccc;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: #31fa5d;
    color: #fff;
    font-weight: 800;
}

.button.operation:active{
    background-color: #31fa5d;
}